*
{
    margin: 0px;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
}

a
{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    
    &:hover
    {
        color: $red !important;
    }
}
