*
{
    margin: 0px;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
}

html
{
    background-color: $black;
    font-family: goldfish, monospace;
}

a
{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    
    &:hover
    {
        color: $red !important;
    }
}
