*
{
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    
    &:hover
    {
        cursor: pointer;
        color: $red !important;
    }
}
