.statue
{
    position: absolute;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/images/statue.png");
    
    animation-name: spin;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    
    transition-property: opacity;
    transition-duration: 3s;
}
