.statue
{
    top: 0em;
    left: 0em;
    width: 2em;
    height: 2em;
    
    position: absolute;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/images/statue.png");
    
    animation-name: spin;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: random(15) + 10s;
    
    &:nth-child(4n)
    {
        animation-duration: random(15) + 10s;
    }
    
    &:nth-child(5n)
    {
        animation-duration: random(15) + 10s;
    }
    
    &:nth-child(6n)
    {
        animation-duration: random(15) + 10s;
    }
}
