#playthrough.view
{
    background-color: #EEE;
    
    b
    {
        top: 0rem;
        left: 0rem;
        right: 0rem;
        bottom: 0rem;
        z-index: 3;
        position: absolute;
        
        color: $white;
        font-size: 2rem;
        line-height: 15rem;
        text-align: center;
        @include stroke(4, $black);
    }
}
