.player
{
    top: 0rem;
    left: 0rem;
    width: 1rem;
    height: 1rem;
    z-index: 1;
    position: absolute;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 1rem;
}

.player.moving.north
{
    background-image: url("./assets/images/player.move.north.png");
}

.player.moving.south
{
    background-image: url("./assets/images/player.move.south.png");
}

.player.moving.east
{
    background-image: url("./assets/images/player.move.east.png");
}

.player.moving.west
{
    background-image: url("./assets/images/player.move.west.png");
}

.player.attacking.north
{
    background-image: url("./assets/images/player.attack.north.png");
}

.player.attacking.south
{
    background-image: url("./assets/images/player.attack.south.png");
}

.player.attacking.east
{
    background-image: url("./assets/images/player.attack.east.png");
}

.player.attacking.west
{
    background-image: url("./assets/images/player.attack.west.png");
}

.player.dead
{
    background-image: url("./assets/images/player.dead.png") !important;
}

.player.victory
{
    background-image: url("./assets/images/player.victory.png") !important;
}
