.game-list.view
{
    h3
    {
        color: $white;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        @include stroke($black);
        
        margin-bottom: 0.5em;
    }
    
    #join-game
    {
        top: 0em;
        right: 0em;
        width: 50%;
        bottom: 0em;
        padding: 0.5em;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        
        background-color: $dark-green;
        
        .joinable-game
        {
            font-size: 0.7em;
            
            &:not(:last-of-type)
            {
                margin-bottom: 0.35em;
            }
            
            a:hover
            {
                color: $red;
                cursor: pointer;
            }
        }
        
        #no-joinable-games
        {
            font-weight: bold;
            text-align: center;
        }
    }
    
    #make-game
    {
        top: 0em;
        left: 0em;
        width: 50%;
        bottom: 0em;
        padding: 0.5em;
        position: absolute;
        
        background-color: $light-green;
        
        form
        {
            font-size: 0.7em;
            
            .make-game-section
            {
                &:not(:last-of-type)
                {
                    margin-bottom: 0.35em;
                }
                
                label
                {
                    font-size: 0.75em;
                }
                
                input[type=text]
                {
                    width: 100%;
                    padding: 0.2em;
                    
                    cursor: auto;
                    font: inherit;
                }
                
                input[type=submit]
                {
                    width: 50%;
                    margin: auto;
                    display: block;
                    padding: 0.25em;
                    
                    color: $white;
                    border: none;
                    outline: none;
                    font: inherit;
                    cursor: auto;
                    border-radius: 0.15em;
                    background-color: $dark-green;
                    
                    &:active
                    {
                        background-color: $red;
                    }
                }
            }
        }
    }
}
