.game-type.view
{
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $light-green;
    background-image: url("./assets/images/background.png");
    
    .selectable-game-type
    {
        &:first-of-type
        {
            top: 2em;
            left: 2em;
        }
        &:last-of-type
        {
            bottom: 2em;
            right: 2em;
        }
        
        position: absolute;
        
        a
        {
            display: block;
            
            color: $white;
            font-weight: bold;
            text-align: center;
            @include stroke($black);
        }
        
        small
        {
            display: block;
            
            font-size: 0.5em;
            text-align: center;
        }
    }
    
    menu
    {
        left: 2em;
        right: 2em;
        bottom: 2em;
        padding: 0em;
        position: absolute;
        text-align: center;
        
        a
        {
            color: $white;
            font-weight: bold;
            @include stroke($black);
            
            animation-name: pulsate;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
            
            &:hover
            {
                color: $red;
                cursor: pointer;
            }
        }
    }
}
