#howmany.view
{
    background-color: $dark-green;
    
    .howmany-box
    {
        padding: 2em 1em;
        box-sizing: border-box;
        width: ((20em - 3) / 2);
        height: ((15em - 3) / 2);
        position: absolute;
        
        &:nth-child(1) {top: 1em; left: 1em;}
        &:nth-child(2) {top: 1em; right: 1em;}
        &:nth-child(3) {bottom: 1em; left: 1em;}
        &:nth-child(4) {bottom: 1em; right: 1em;}
        
        color: $white;
        text-align: center;
        
        border-radius: 0.5em;
        background-color: $light-green;
        
        &:hover
        {
            color: $red;
            cursor: pointer;
        }
        
        b
        {
            display: block;
            margin-bottom: 0.25em;
            
            @include stroke($black);
        }
        
        .subtitle
        {
            display: block;
            
            color: $black;
            font-size: 0.5em;
            text-decoration: underline;
        }
    }
}
