#offline-game.view
{
    background-color: $white;
    
    .message
    {
        top: 0em;
        left: 0em;
        right: 0em;
        bottom: 0em;
        z-index: 5;
        height: 3.25em;
        margin: auto;
        position: absolute;
        
        font-weight: bold;
        text-align: center;
        
        h3
        {
            color: $white;
            font-size: 2em;
            @include stroke($black);
        }
    }
}
