#playthrough.view
{
    background-color: $white;
    
    b
    {
        top: 0em;
        left: 0em;
        right: 0em;
        bottom: 0em;
        z-index: 3;
        position: absolute;
        
        color: $white;
        font-size: 2em;
        line-height: 15em;
        text-align: center;
        @include stroke($black);
    }
}
