#titlescreen.view
{
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $light-green;
    background-image: url("./assets/images/titlescreen.png");
    
    header
    {
        top: 2em;
        left: 2em;
        right: 2em;
        position: absolute;
        
        h1
        {
            color: $white;
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            @include stroke($black);
        }
        
        h2
        {
            color: $white;
            text-align: center;
            font-size: 0.75em;
            font-weight: normal;
            @include stroke($black);
        }
    }
    
    .action
    {
        left: 2em;
        right: 2em;
        bottom: 2em;
        position: absolute;
        
        text-align: center;
        
        span
        {
            color: $white;
            font-weight: bold;
            text-align: center;
            @include stroke($black);
            
            animation-name: pulsate;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
            
            &:hover
            {
                color: $red;
                cursor: pointer;
            }
        }
    }
}
