@import "./styles/references/Fonts.scss";
@import "./styles/references/Colors.scss";
@import "./styles/references/Defaults.scss";
@import "./styles/references/Animations.scss";
@import "./styles/references/Mixins.scss";

@import "./styles/components/GameFrame.scss";
@import "./styles/components/Player.scss";
@import "./styles/components/Statue.scss";
@import "./styles/components/Smoke.scss";

@import "./styles/views/View.scss";
@import "./styles/views/TitlescreenView.scss";
@import "./styles/views/GameTypeView.scss";
@import "./styles/views/GameListView.scss";
@import "./styles/views/HowmanyView.scss";
@import "./styles/views/PlaythroughView.scss";

html
{
    background-color: $black;
    font-family: goldfish, monospace;

    #game-frame
    {
    	background-color: $white;
    }
}
