.player
{
    top: 0rem;
    left: 0rem;
    width: 1rem;
    height: 1rem;
    
    position: absolute;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 1rem;
}
