.statue
{
    top: 0rem;
    left: 0rem;
    width: 2rem;
    height: 2rem;
    
    position: absolute;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/statue.png");
    
    animation-name: spin;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: random(15) + 10s;
}
