#title.view
{
    padding: 2rem;
    
    h1
    {
        color: $white;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        @include stroke(4rem, $black);
    }
    
    h2
    {
        color: $white;
        text-align: center;
        font-size: 0.75rem;
        font-weight: normal;
        @include stroke(2, $black);
    }
    
    background-size: 100%;
    background-color: #B5E61D;
    background-image: url("../images/titlescreen.png");
}
