.view
{
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    position: absolute;
    
    background-color: red;
}

#title.view
{
    padding: 1rem;
    
    h1
    {
        text-align: center;
    }
}
